includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/brainbits/phpstan-rules/rules.neon

parameters:
    noEnvCallsOutsideOfConfig: true

    paths:
        - app/
        - tests/

    # Level 10 is the highest level
    level: 5

    brainbits:
        unitTestNamespaceContainsString: Tests

    ignoreErrors:
        -
            identifier: deadCode.unreachable
            path: tests/*
